# Fichiers Python compilés
__pycache__/
*.py[cod]

# Environnements virtuels
env/
venv/

# Base de données locale (optionnel, si elle n’est pas partagée)
db.sqlite3

# Fichiers temporaires
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.so

# Cache Django
*.mo
staticfiles/
media/

# VSCode / IDEs
.vscode/
.idea/
*.swp
.claude

# Fichiers de configuration sensibles
.env
.env.local
.env.yaml
*.env

# Docker
.dockerignore

# Fichiers macOS
.DS_Store
